name: Run action
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run action
        uses: ./
        with:
          milliseconds: 1000
          token: ${{ secrets.GITHUB_TOKEN }}
